body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#chess-board {
  height: fit-content;
  display: flex;
  transform: rotateX(180deg);
}
.chess-container {
  display: flex;
}
.piece {
  width: 7vw;
  height: 7vw;
  max-width: 35px;
  max-height: 35px;
  transform: rotateX(180deg);
}

.black-piece {
  color: black;
}

.square {
  width: 8vw;
  height: 8vw;
  max-width: 50px;
  max-height: 50px;
  background-color: rgb(242, 242, 242);
  border: 2px dashed transparent;
  border-radius: 5px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.row:nth-child(odd) .square:nth-child(even) {
  background-color: rgb(39, 39, 39);
}
.row:nth-child(even) .square:nth-child(odd) {
  background-color: rgb(39, 39, 39);
}

.board-numbers,
.board-letters {
  display: flex;
  justify-content: space-around;
}
.board-letters {
  width: 100%;
}
.board-numbers {
  margin-top: auto;
  height: calc(9.2vw * 8);
  max-height: 441px;
  flex-direction: column;
}
.board-number,
.board-letter {
  margin: 0;
  border: 1px solid black;
  border-radius: 100vw;
  max-width: 8vw;
  max-height: 8vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
